

<h1>Carts</h1>

<div id="carts">
  <% @carts.each do |cart| %>

    <% if cart.total_price>=1 %>
    <%= render cart %>
    <p>
      <%= link_to "Show this cart", cart %>
    </p>
    <% else %>
    <% end %>
    
  <% end %>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<br>

<%= link_to "New cart", new_cart_path %>


